Source/External Services/BazzasBazaarExternalServiceProxyWCF/Service References/ServiceReference1/Store.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Store" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bazzasbazaar.azurewebsites.net/Store.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bazzasbazaar.azurewebsites.net/Store.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bazzasbazaar.azurewebsites.net/Store.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BazzasBazaar.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStore_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IStore_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="IStore_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_GetFilteredProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredProducts" />
  </wsdl:message>
  <wsdl:message name="IStore_GetFilteredProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IStore_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_GetOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderById" />
  </wsdl:message>
  <wsdl:message name="IStore_GetOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IStore_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_CancelOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderById" />
  </wsdl:message>
  <wsdl:message name="IStore_CancelOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IStore">
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetAllCategories" message="tns:IStore_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetAllCategoriesResponse" message="tns:IStore_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetCategoryById" message="tns:IStore_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetCategoryByIdResponse" message="tns:IStore_GetCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetFilteredProducts" message="tns:IStore_GetFilteredProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetFilteredProductsResponse" message="tns:IStore_GetFilteredProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetProductById" message="tns:IStore_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetProductByIdResponse" message="tns:IStore_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetOrderById" message="tns:IStore_GetOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetOrderByIdResponse" message="tns:IStore_GetOrderById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/CreateOrder" message="tns:IStore_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/CreateOrderResponse" message="tns:IStore_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/CancelOrderById" message="tns:IStore_CancelOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/CancelOrderByIdResponse" message="tns:IStore_CancelOrderById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStore" type="tns:IStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IStore/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/IStore/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredProducts">
      <soap:operation soapAction="http://tempuri.org/IStore/GetFilteredProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IStore/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <soap:operation soapAction="http://tempuri.org/IStore/GetOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IStore/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrderById">
      <soap:operation soapAction="http://tempuri.org/IStore/CancelOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Store">
    <wsdl:port name="BasicHttpBinding_IStore" binding="tns:BasicHttpBinding_IStore">
      <soap:address location="http://bazzasbazaar.azurewebsites.net/Store.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>